*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  background-color: black;
}


nav{
  background-color: rgb(106, 139, 106);
  display: flex;
  width: 85%;
  max-width: 660px;
  border-radius: 0px 0px 20px 0px;
  width: 85%;
  /* transition: transform .5s; */
  display: flex;
  flex-direction: column;
}
nav a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  text-transform: uppercase;
  display: block;
}
nav ul, nav li{
  list-style: none;
  margin: 0.5em;
}
.nav-cabeza-mob>header{
  background-image: url(../img/soñar-con-peliculas.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode:color-burn;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 3px solid rgb(179, 40, 40);
  border-top: 3px solid rgb(179, 40, 40);
  padding: 0.5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* text-align: center; */
}
.logo-page{
  width: 80%;
  margin: 0em 1em;
}
.btn-menu-mob-cont{
  position: relative;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.links-mob-menu{
  padding: 2em;
  /*display: none;*/
}

#btn-mob-menu{
  border-style: none;
  background: none;
}

#btn-mob-menu > .hamburguer-btn > img{
  position: absolute;
  top: 2px;
  margin: 5px;
  width: 2.25em;
  height: 2.25em;
}
#user-icon>img{
  width: 2.25em;
}
.social-mob{
  display: flex;
}
.social-mob-icon>img{
  width: 1.5em;
  height: 1.5em;
}
.arrow-menu-mob{
  margin-left: auto;
  width: 0.9em;
  /* height: 1em; */
}


@media screen {
  
}