*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
}

#main_conteiner{
  height: 30%;
  background-color: rgba(32, 58, 32, 0.76);
  border: 1px solid black;
  display: flex;
  width: 85%;
  max-width: 660px;
  height: 100%;
  border-radius: 0px 0px 20px 0px;
}
nav{
  width: 100%;
  /* transition: transform .5s; */
  display: flex;
  flex-direction: column;
}
nav a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
nav ul{
  list-style: none;
}

nav>header{
  padding: 0.5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.6);
  background-image: url(img/soñar-con-peliculas.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode:color-burn;
  border-bottom: 3px solid rgb(179, 40, 40);
  /* text-align: center; */
}
.logo-page{
  width: 80%;
  margin: 0em 1em;
}
.links-mob-menu{
}




#btn-mob-menu{
  border-style: none;
  background: none;
}

#btn-mob-menu > .hamburguer-btn > img{
  width: 2.25em;
  height: 2.25em;
}
#user-icon>img{
  width: 2.25em;
}
.social-mob-icon>img{
  width: 1.5em;
  height: 1.5em;
}
.arrow-menu-mob{
  width: 0.5em;
  height: 0.5em;
}


@media screen {
  
}